RewriteEngine On

# If the request is not an existing file
RewriteCond %{REQUEST_FILENAME} !-f

# If the request is not an existing directory
RewriteCond %{REQUEST_FILENAME} !-d

# If filename.html exists
RewriteCond %{REQUEST_FILENAME}.html -f

# Serve filename.html
RewriteRule ^(.+?)/?$ $1.html [L]